html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0a192f;
  cursor: default;
}
.trail {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: #b0ffed57;
  z-index: -1;
}

.active {
  color: #64ffda;
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #0a192f;
  display: grid;
  justify-items: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: all 1.5s ease-in-out;
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}
.video-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #112240ea;
  z-index: -4;
}

/* sidebar modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #051734;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 65%;
  height: 100%;
  font-size: 38px;
  animation: sidebarSlide 1s ease 0s 1 normal forwards;
}
.btnsside {
  color: #ccd6f6;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  padding: 28px;
}
.modalbtn {
  color: #64ffda;
  font-family: "Roboto Mono", monospace;
  font-size: 38px;
}
.modal-content button:hover {
  transition: 0.5s;
  background-color: #b0ffed20;
}
.modal-content button a {
  color: #64ffda;
  font-size: 30px;
  text-decoration: none;
}
.modal-content span {
  position: absolute;
  top: 5px;
  right: 80px;
}
.close {
  color: #64ffda;
  float: right;
  font-size: 50px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #64ffda;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-open-btn {
  display: none;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
.progress-bar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #00003c;
}
.progress-bar-inner {
  position: relative;
  width: 0%;
  padding: 0px;
  background-color: #64ffda;
}

/* header */
header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  max-height: 12vh;
  background-color: #0a192f;
  box-shadow: 1px 2px 10px #0a0a0a;
  z-index: 2;
  width: 100%;
}
#hide-header {
  transition: all 0.4s ease !important;
}
.logo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  display: inline;
  padding: 0 15px;
}
header ul li a {
  color: #ccd6f6;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}
header ul li a:hover {
  color: #64ffda;
}
header ul li span {
  color: #64ffda;
  font-family: "Roboto Mono", monospace;
}
header ul li button {
  background-color: #0a192f;
  border-color: #64ffda;
  border-radius: 6px;
  padding: 13px 16px;
  font-family: "Roboto Mono", monospace;
  font-size: medium;
  color: #64ffda;
  cursor: pointer;
}
header ul li button:hover {
  transition: 0.5s;
  background-color: #b0ffed20;
}
/* home */
.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  /* margin-top: 7%; */
  font-family: "Roboto Mono", monospace;
}
.parent span {
  font-family: "Source Code Pro", monospace;
  color: #64ffda;
  float: left;
  margin: 0;
  font-size: 1.2rem;
}
.logo h1 {
  font-size: 52px;
  color: #e6f1ff;
  font-family: "Quicksand", sans-serif;
  animation-duration: 1s;
  transform-origin: top;
}
.bounce:hover {
  animation-name: myAnim;
  animation-timing-function: ease;
  color: #64ffda;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent h1 {
  color: #e6f1ff;
  float: left;
  margin: 0;
  font-size: 12vh;
}
.parent h2 {
  color: #a8b2d1;
  float: left;
  margin: 0;
  font-size: 8vh;
}
.parent a {
  color: #8892b0;
  margin-top: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}
.parent a button {
  color: #64ffda;
  background-color: #112240;
  border: #64ffda;
  margin: 2px;
  padding: 3px 7px;
  border-radius: 6px;
}
.icons-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5%;
  z-index: 100;
}
i {
  color: #b1bcdb;
  padding: 12px;
  font-size: 24px;
  transition: 0.5s;
}
i:hover {
  color: #64ffda;
  transform: scale(1.1);
  transition: 0.5s;
}
.mail-link {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 66vh;
  z-index: 100;
}
.mail-link h1 {
  color: #b1bcdb;
  font-size: medium;
  font-family: "Source Code Pro", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mail-link h1 a {
  color: #b1bcdb;
  text-decoration: none;
}
.mail-link h1 a:hover {
  color: #64ffda;
}
.mail-link a.left {
  position: relative;
}
.mail-link a.left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #64ffda;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.mail-link a.left:hover::after {
  visibility: visible;
  width: 100%;
}

/* about */
.tree-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.info {
  width: 48%;
  margin-top: 40px;
}
.info p {
  color: #8892b0;
  font-family: "Roboto Mono", monospace;
  font-size: large;
}
.info h1 {
  color: #a8b2d1;
  font-family: "Roboto Mono", monospace;
}
.info p a {
  color: #64ffda;
  text-decoration: none;
}
.info ul {
  list-style: "→";
}
.info ul li span {
  color: #8892b0;
  padding: 12px;
}
.info ul li span.left {
  position: relative;
}
.info ul li span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #64ffda;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.info ul li span:hover::after {
  visibility: visible;
  width: 100%;
}
.info ul li {
  color: #64ffda;
  padding: 8px;
  display: block;
}
.info label {
  text-decoration: underline #64ffda;
}
.info label:hover {
  transition: 0.3s;
  text-decoration: none;
  color: #64ffda;
}
a.left {
  position: relative;
}
a.left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #64ffda;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover::after {
  visibility: visible;
  width: 100%;
}
.my-pic img {
  border-radius: 8px;
  height: 330px;
  width: 280px;
  animation: pictureAnim 4s ease-in-out 1s 1 normal forwards;
}

/* work */
.all-work {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-work-width {
  width: 80%;
}
.work-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.work-info h1 {
  color: #a8b2d1;
  font-family: "Roboto Mono", monospace;
}
.card-containter-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container ul {
  list-style-type: none;
}
.card-container a {
  text-decoration: none;
  margin: 6px;
}
.font {
  margin: 60px 0;
  background-color: #0a192f;
  color: #64ffda;
  border-color: #64ffda;
  border-radius: 6px;
  padding: 16px 20px;
  font-family: "Roboto Mono", monospace;
  font-size: large;
  cursor: pointer;
}
.cards {
  position: relative;
  width: 260px;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: #112240;
  margin: 12px;
  padding: 30px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s;
}
.cards:hover {
  transform: scale(1.05);
}
.cards:hover h2 {
  color: #64ffda;
}
.card-icons .fa-github:hover {
  color: #64ffda;
}
.card-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-icons .fa-folder {
  font-size: 5vh;
  color: #64ffda;
}
.card-icons .fa-github {
  font-size: 3vh;
  color: #b1bcdb;
}
.cards h2 {
  font-family: "Roboto Mono", monospace;
  color: #e6f1ff;
}
.cards span {
  font-family: "Roboto Mono", monospace;
  margin: 6px;
  text-align: left;
  display: inline;
  padding: 5px;
  color: #8892b0;
}
.cards label {
  font-family: "Roboto Mono", monospace;
  color: #b1bcdb;
  margin: 6px;
}
.technologies {
  position: absolute;
  bottom: 20px;
  left: 25px;
  margin-top: 20px;
}
.invisCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.invisible {
  display: none;
}
.visible {
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s ease-out forwards;
}
.showMoreLess {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
#showMLBtn {
  margin: 60px 0;
  background-color: #0a192f;
  color: #64ffda;
  border-color: #64ffda;
  border-radius: 6px;
  padding: 16px 20px;
  font-family: "Roboto Mono", monospace;
  font-size: large;
  cursor: pointer;
}
#showMLBtn:hover {
  transition: 0.5s;
  background-color: #b0ffed20;
}
.responsive-card-container {
  display: none;
}

/* contact */
.tree-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-me-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}
.contact-me-page span {
  color: #64ffda;
  font-family: "Source Code Pro", monospace;
  margin: 0;
}
.contact-me-page h1 {
  color: #e6f1ff;
  font-size: 9vh;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
.contact-me-page p {
  font-size: large;
  font-family: "Roboto Mono", monospace;
  color: #8892b0;
}
.contact-me-page a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}
.contact-me-page a button {
  background-color: #0a192f;
  border-color: #64ffda;
  border-radius: 6px;
  padding: 16px 20px;
  color: #64ffda;
  font-size: medium;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}
.contact-me-page a button:hover {
  transition: 0.5s;
  background-color: #b0ffed20;
}

/* left and right */
.mail-link {
  position: fixed;
  bottom: 260px;
  right: 20px;
}
.icons-links {
  position: fixed;
  bottom: 200px;
  left: 50px;
}

/* bottom credits for site maker */
.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
.credits a {
  text-decoration: none;
  font-size: medium;
  color: #8892b0;
}
footer {
  display: none;
}

/* header id's */
#start {
  height: 88vh;
}
#contact {
  height: 100vh;
}

/* animations */
.reveal {
  position: relative;
  transform: translateY(130px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}
@keyframes pictureAnim {
  0% {
    opacity: 0.3;
    transform: scale(0.1);
  }
  80% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes sidebarSlide {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes myAnim {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Media queries for better responsivity */
@media all and (max-width: 1180px) {
  .parent {
    width: 90%;
  }
  .icons-links,
  .mail-link {
    display: none;
  }
  .icons-links-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .credits {
    display: none;
  }
  .credits-footer a {
    text-decoration: none;
    font-size: medium;
    color: #8892b0;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    background-color: #112240;
  }
}

@media all and (max-width: 913px) {
  .trail {
    display: none;
  }
}
@media all and (max-width: 862px) {
  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .info {
    width: 68%;
    margin-top: 40px;
  }
  .my-pic {
    margin: 40px;
  }
  .cards {
    width: 220px;
  }
  #cardNo3 {
    display: none;
  }
}

@media all and (max-width: 819px) {
  header ul {
    display: none;
  }
  .sidebar-open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
    color: #64ffda;
    font-size: 42px;
  }
  header ul li button {
    padding: 0;
  }
  header ul li {
    padding: 0;
  }
}
@media all and (max-width: 791px) {
  .cards {
    width: fit-content;
    margin: 24px 0;
  }
}

@media all and (max-width: 627px) {
  .work-info h1 {
    width: 90%;
  }
  .modal-content a {
    font-size: 21px;
    width: 40vw;
  }
  .video-container {
    display: none;
    background-color: #0a192f;
  }
  .video-page::after {
    display: none;
    background-color: #0a192f;
  }
}
@media all and (max-width: 570px) {
  .responsive-card-container {
    display: flex;
  }
  .responsive-card-container-width ul {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  ul li {
    display: inline;
    scroll-snap-align: center;
  }
  .card-container,
  .card-container-width {
    display: none;
  }
  .responsive-card-container-width ul a {
    text-decoration: none;
    margin: 6px;
  }
  .cardsRes {
    width: 12rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    background-color: #112240;
    margin: 30px 9px;
    padding: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .cardsRes:hover {
    transform: scale(1.05);
  }
  .cardsRes:hover h2 {
    color: #64ffda;
  }
  .card-icons .fa-github:hover {
    color: #64ffda;
  }
  .card-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardsRes .card-icons .fa-folder {
    font-size: 4vh;
    color: #64ffda;
  }
  .cardsRes .card-icons .fa-github {
    font-size: 2.5vh;
    color: #b1bcdb;
  }
  .cardsRes h2 {
    font-family: "Roboto Mono", monospace;
    color: #e6f1ff;
  }
  .cardsRes label {
    font-family: "Roboto Mono", monospace;
    color: #b1bcdb;
    margin: 6px;
  }
}
@media all and (max-width: 525px) {
  .parent h2 {
    font-size: 48px;
  }
}
@media all and (max-height: 437px) {
  .video-container {
    display: none;
  }
  .video-page::after {
    display: none;
  }
  header {
    padding: 12px 0;
  }
  footer {
    padding: 12px 0;
  }
  .contact-me-page a button {
    margin-bottom: 28px;
  }
}

@media all and (max-width: 370px) {
  .parent h2 {
    font-size: 42px;
  }
}
@media all and (max-width: 336px) {
  .parent h1 {
    font-size: 52px;
  }
}
@media all and (max-width: 320px) {
  .technologies {
    display: none;
  }
}
