html {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
}
.container {
    height: 100vh;
}
img {
    border-radius: 50px;
}
header {
    display: flex;
    justify-content: space-around;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    display: inline;
    padding: 15px;
}
ul li a {
    color: #ccd6f6;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
ul li span {
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
}
ul li button {
    background-color: #0a192f;
    border-color: #64ffda;
    border-radius: 6px;
    padding: 13px;
    font-family: 'Roboto Mono', monospace;
}
ul li button a {
    font-size: larger;
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
}
.tree {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}
.parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 7%; */
    font-family: 'Roboto Mono', monospace;
}
.parent span {
    color: #64ffda;
    float: left;
    margin: 0;
    font-size: 1.2rem;
}
.logo h1 {
    font-size: 58px;
    color: #e6f1ff;
    font-family: 'Quicksand', sans-serif;
}
.parent h1 {
    color: #e6f1ff;
    float: left;
    margin: 0;
    font-size: 12vh;
}
.parent h2 {
    color: #a8b2d1;
    float: left;
    margin: 0;
    font-size: 8vh;
}
.parent a {
    color: #8892b0;
    margin-top: 16px;
    font-size: 2vh;
}
.parent a button {
    color: #8892b0;
    background-color: #112240;
    border: #112240;
    margin: 2px;
    padding: 7px 12px;
    border-radius: 8px;
}
.icons-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5%;
}
i {
    color: #b1bcdb;
    padding: 12px;
    font-size: 24px;
}
.mail-link {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 66vh;
}
.mail-link h1 {
    color: #b1bcdb;
    font-size: medium; 
    font-family: 'Source Code Pro', monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mail-link h1 a {
    color: #b1bcdb;
    text-decoration: none;
}