html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
    cursor: default;
}
.active {
    color: #64ffda;
}
/* #navMenus {

} */
/* .ball {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background: #64ffdb75;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
    z-index: 1;
  } */  
header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 90px;
    background-color: #0a192f;
    box-shadow: 1px 5px 10px #0a0a0a;
    z-index: 1;
    /* border-bottom: 1px solid #64ffda; */
}
#hide-header {
    transition: all .4s ease!important;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    display: inline;
    padding: 0 15px;
}
header ul li a {
    color: #ccd6f6;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
header ul li a:hover {
    color: #64ffda;
}
header ul li span {
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
}
header ul li button {
    background-color: #0a192f;
    border-color: #64ffda;
    border-radius: 6px;
    padding: 13px 16px;
    font-family: 'Roboto Mono', monospace;
}
header ul li button:hover {
    transition: 0.5s;
    background-color: #b0ffed20;
}
header ul li button a {
    font-size: larger;
    color: #64ffda;
    font-family: 'Roboto Mono', monospace;
}
.tree {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-top: 7%; */
    font-family: 'Roboto Mono', monospace;
}
.parent span {
    font-family: 'Source Code Pro', monospace;
    color: #64ffda;
    float: left;
    margin: 0;
    font-size: 1.2rem;
}
.logo h1 {
    font-size: 52px;
    color: #e6f1ff;
    font-family: 'Quicksand', sans-serif;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent h1 {
    color: #e6f1ff;
    float: left;
    margin: 0;
    font-size: 12vh;
}
.parent h2 {
    color: #a8b2d1;
    float: left;
    margin: 0;
    font-size: 8vh;
}
.parent a {
    color: #8892b0;
    margin-top: 16px;
    font-size: 2vh;
}
.parent a button {
    color: #64ffda;
    background-color: #112240;
    border: #64ffda;
    margin: 2px;
    padding: 7px 12px;
    border-radius: 8px;
}
.parent a button:hover {
    transition: 0.5s;
    background-color: #b0ffed20;
}
.icons-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5%;
}
i {
    color: #b1bcdb;
    padding: 12px;
    font-size: 24px;
}
i:hover {
    color: #64ffda;
}
.mail-link {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 66vh;
}
.mail-link h1 {
    color: #b1bcdb;
    font-size: medium; 
    font-family: 'Source Code Pro', monospace;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mail-link h1 a {
    color: #b1bcdb;
    text-decoration: none;
}
.mail-link h1 a:hover {
    color: #64ffda;
}

.tree-about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.info {
    width: 48%;
    margin-top: 40px;
}
.info p {
    color: #8892b0;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}
.info h1 {
    color: #a8b2d1;
    font-family: 'Roboto Mono', monospace;
}
.info p a {
    color: #64ffda;
    text-decoration: none;
}
.info ul {
    list-style: "→";
    }
.info ul li span {
    color: #8892b0;
    padding: 12px;
}
.info ul li {
    color: #64ffda;
    padding: 8px;
}
.info label {
    text-decoration: underline #64ffda;
}
.info label:hover {
    transition: 0.3s;
    text-decoration: none;
    color: #64ffda;
}
a.left {
    position: relative;
}
a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #64ffda;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.left:hover:before {
    visibility: visible;
    width: 100%;
}
.my-pic img{
    filter: blur(6px);
    border: 1px solid #64ffda;
    border-radius: 8px;
}
.my-pic img:hover {
    transition: 0.5s ease-in-out;
    filter: blur(0);
}
.tree-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-me-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 50%;
}
.contact-me-page span {
    color: #64ffda;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}
.contact-me-page h1 {
    color: #e6f1ff;
    font-size: 9vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.contact-me-page p {
    font-size: large;
    font-family: 'Roboto Mono', monospace;
    color: #8892b0;
}
.contact-me-page button {
    background-color: #0a192f;
    border-color: #64ffda;
    border-radius: 6px;
    padding: 16px 20px;
    font-family: 'Roboto Mono', monospace;
}
.contact-me-page button:hover {
    transition: 0.5s;
    background-color: #b0ffed20;
}
.contact-me-page button a {
    text-decoration: none;
    color: #64ffda;
    font-size: larger;
}

.mail-link {
    position: fixed;
    bottom: 260px;
    right: 20px;
}
.icons-links {
    position: fixed;
    bottom: 200px;
    left: 50px;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}
.credits a {
    text-decoration: none;
    font-size: medium;
    color: #8892b0;
}


#start {
    height: 75vh;
}
#about {
    height: 100vh;
}
/* #experience {
    height: 100vh;
}
#work {
    height: 100vh;
} */
#contact {
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}